version: "2"

services:
  instances_configurator:
    image: navitia/instances-configurator:${TAG}
    volumes_from:
      - tyr_beat
      - jormungandr
    volumes:
      - kraken_instance_conf:/srv/kraken
    environment:
      - INSTANCE_default=

  update_server:
    build:
      context: ./update-server
    ports:
      - "5000:5000"
    volumes:
      - tyr_data:/srv/ed
    environment:
      - TYR_DATABASE_FILE=/srv/ed
      - AUTH_TOKEN=${UPDATER_AUTH_TOKEN}

  chaos:
    build:
      context: ./chaos
    ports:
      - "5001:5001"
    environment:
      - SQLALCHEMY_DATABASE_URI=postgresql://navitia:navitia@chaos_database/chaos
      - RABBITMQ_CONNECTION_STRING=amqp://guest:guest@rabbitmq:5672//
      - NAVITIA_URL=http://localhost:9191
      - DOMAIN_NAME=chaos-ws.local.canaltp.fr
      - CACHE_TYPE=redis
      - CACHE_REDIS_HOST=redis
      - NAVITIA_CACHE_TIMEOUT=86400
      - NAVITIA_PUBDATE_CACHE_TIMEOUT=10
    links:
      - chaos_database
      - rabbitmq
    depends_on:
      - chaos_database
      - rabbitmq

  chaos_database:
    image: postgres:9.4
    environment:
      - POSTGRES_USER=navitia
      - POSTGRES_PASSWORD=navitia
      - POSTGRES_DB=chaos

  database:
    environment:
      - POSTGRES_USER=navitia
      - POSTGRES_PASSWORD=navitia
      - POSTGRES_DB=jormungandr
    image: mdillon/postgis:9.5

  rabbitmq:
    image: rabbitmq:management

  redis:
    image: redis:3-alpine

  kraken-default:
    image: navitia/kraken:${TAG}
    environment:
      - KRAKEN_GENERAL_instance_name=default
      - KRAKEN_GENERAL_database=/srv/ed/output/default.nav.lz4
      - KRAKEN_BROKER_host=rabbitmq
    volumes_from:
      - tyr_beat:ro
    expose:
      - "30000"
    links:
      - rabbitmq

  jormungandr:
    image: navitia/jormungandr:${TAG}
    environment:
      - JORMUNGANDR_SQLALCHEMY_DATABASE_URI=postgresql://navitia:navitia@database/jormungandr
      - JORMUNGANDR_INSTANCE_DEFAULT={"key":"default","zmq_socket":"tcp://kraken-default:30000"}
    ports:
      - "9191:80"

  tyr_worker:
    image: navitia/tyr-worker:${TAG}
    volumes_from:
      - tyr_beat
    environment:
      - TYR_CITIES_DATABASE_URI=postgresql://navitia:navitia@cities_database/cities
      - TYR_CITIES_OSM_FILE_PATH=/srv/ed/
      - TYR_KRAKEN_BROKER_URL=amqp://guest:guest@rabbitmq:5672//

  tyr_beat:
    image: navitia/tyr-beat:${TAG}
    volumes:
      - tyr_data:/srv/ed
      - tyr_instance_conf:/etc/tyr.d
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//

  tyr_web:
    image: navitia/tyr-web:${TAG}
    volumes_from:
      - tyr_beat
    ports:
      - "9898:80"
    environment:
      - TYR_CITIES_DATABASE_URI=postgresql://navitia:navitia@cities_database/cities
      - TYR_CITIES_OSM_FILE_PATH=/srv/ed/

  cities_database:
    environment:
      - POSTGRES_USER=navitia
      - POSTGRES_PASSWORD=navitia
      - POSTGRES_DB=cities
    image: mdillon/postgis:9.1

  kirin:
    image: navitia/kirin:${KIRIN_TAG}
    restart: always
    env_file: kirin/kirin.env
    depends_on:
      - kirin_configurator
    ports:
      - "9292:9090"

  kirin_background:
    image: navitia/kirin:${KIRIN_TAG}
    restart: always
    depends_on:
      - kirin_configurator
    command: sh -c "while ! pg_isready -h kirin_database -d kirin -U navitia; do sleep 5; done; sleep 10; python ./manage.py load_realtime"
    env_file: kirin/kirin.env

  kirin_database:
    image: mdillon/postgis:9.5
    environment:
      - POSTGRES_USER=navitia
      - POSTGRES_PASSWORD=navitia
      - POSTGRES_DB=kirin
    ports:
      - "9494:5432"

  kirin_configurator:
    image: navitia/kirin:${KIRIN_TAG}
    env_file: kirin/kirin.env
    working_dir: /usr/src/app
    depends_on:
      - "kirin_database"
    command: sh -c "while ! pg_isready -h kirin_database -d kirin -U navitia; do sleep 5; done; python manage.py db upgrade"

  rabbitmq_kirin:
    image: rabbitmq:management

volumes:
  tyr_data:
  tyr_instance_conf:
  jormungandr_instance_conf:
  kraken_instance_conf:
