version: '2'

services:
  asgard-data:
    image: navitia/asgard-data:${ASGARD_DATA_TAG}
  
  asgard:
    image: navitia/asgard-app:${ASGARD_APP_TAG}
    volumes_from:
      - asgard-data
    ports:
      - "6000:6000"

  jormungandr:
    environment:
      - JORMUNGANDR_INSTANCE_ASGARD={"street_network":[{"modes":["bss"],"class":"jormungandr.street_network.kraken.Kraken"},{"args":{"costing_options":{"bicycle":{"bicycle_type":"Hybrid"}},"api_key":"","asgard_socket":"tcp://asgard:6000","service_url":"http://localhost:8002","timeout":20},"modes":["car","bike","walking"],"class":"jormungandr.street_network.asgard.Asgard"}],"key":"asgard","zmq_socket":"tcp://kraken-default:30000"}
